# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Data files
*.csv
*.xlsx
*.json
data/

# Logs
*.log

# Distribution / packaging
dist/
#build/
*.egg-info/

# Node.js
node_modules/
*/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity 